<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Loader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/loading.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/formAction.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/alertMessage.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/uploadMessage.js')}}"></script>
</head>
<body>
    <div class="login-container">
        {% if transferData %}
            <div class="text-container">
                <h2> Transfer Completed </h2>
                <ul>
                    <li> Organization (Account) </li>
                    <li> Household (Account) </li>
                    <li> Contact </li>
                </ul>
            </div>      
        {% elif transferPage and loggedSalesforce %}
        <h1 style='text-align: center'>Load csv app</h1>
        <div class = 'test'>
            <div class="jumbotron">
                <div>
                    <p class="lead centered-text">Upload a csv file</p>
                    <form id="upload-form" method="POST" enctype="multipart/form-data">
                        <input type="file" id="myFile" name="filename" accept=".csv" multiple>
                        <input type="submit" name="action" value="Upload" onclick="setAction('upload')">
                        <input type="submit" name="action" value="Delete Files" onclick="setAction('delete')">
                    </form>
                </div>
            </div>
            <div class="login-button-container">
                <button class="app-button connected" > Connected with Salesforce</button>
            </div>
        </div>
        <button class="transfer-data-salesforce transfer-button" onClick = "startTransfer()">Transfer Data to Salesforce</button>
        {% elif loggedSalesforce %}
        <h1 style='text-align: center'>Load csv app</h1>
        <div class = "test">
            <div class="jumbotron">
                <div>
                    <p class="lead centered-text">Upload a csv file</p>
                    <form id="upload-form" method="POST" enctype="multipart/form-data">
                        <input type="file" id="myFile" name="filename" accept=".csv" multiple>
                        <input type="submit" name="action" value="Upload" onclick="setAction('upload')">
                        <input type="submit" name="action" value="Delete Files" onclick="setAction('delete')">
                    </form>
                </div>
            </div>
            <div class="login-button-container">
                <button class="app-button connected" > Connected with Salesforce</button>
            </div>
        </div>
        {% else %}
        <h1 style='text-align: center'>Load csv app</h1>
        <div class = "test">
            <div class="jumbotron">
                <div>
                    <p class="lead centered-text">Upload a csv file</p>
                    <form id="upload-form" method="POST" enctype="multipart/form-data">
                        <input type="file" id="myFile" name="filename" accept=".csv" multiple>
                        <input type="submit" name="action" value="Upload" onclick="setAction('upload')">
                        <input type="submit" name="action" value="Delete Files" onclick="setAction('delete')">
                    </form>
                </div>
            </div>            
            <div class="login-button-container">
                <button class="app-button" onclick="location.href='/auth/salesforce'"> Log in with Salesforce</button>
            </div>
        </div>        
        {% endif %}
    <div id="loading" style="display: none;">
        <h2>Transfiriendo datos a Salesforce...</h2>
        <div id="progress">0%</div> 
    </div>
</body>
</html>
